<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
<!-- fragments/navbar.html -->
        <!-- fragments/navbar.html -->
    <div th:fragment="navbar">
        <nav>
            <ul>
                <li><a th:href="@{/}">Início</a></li>
                <li><a th:href="@{/produtos}">Coleção</a></li>
                <li><a th:href="@{/sobre}">Sobre</a></li>
            </ul>
        </nav>
    </div>
    </body>
</html>
